{% extends 'base.html'%}
{% load staticfiles %}
{% block content %}
<!-- {% url 'products:product_list' as liste %}
{% for cat in categories %}
{% url 'products:product_list_by_category' cat.slug as categor %}
{% endfor %} -->


<br>
<div class="col-md-12">
    {% if messages %}
    {% for message in messages %}

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <center>
            {{ message }}
        </center>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
</div>




<br>

<div class="row justify-content-between">

    <div class="btn-group col-md-6" role="group" aria-label="Basic example">
        {% for cat in categories %}
        <a href="{% url 'products:product_list_by_category' cat.slug %}"
            style="height: 45px;{% if forloop.first %}border-top-left-radius: 50px;border-bottom-left-radius: 50px;{% endif %}"
            class="btn btn-outline-secondary{% if request.path == categor %} btn-primary text-light {% endif %}">{{ cat.name }}</a>
        {% endfor %}
        <a href="{% url 'products:product_list' %}"
            style="height: 45px;border-top-right-radius: 50px;border-bottom-right-radius: 50px"
            class="btn btn-outline-danger">تمام
            محصولات</a>
    </div>

    <div class="col-md-3 offset-md-3">
        <form class="form-inline" method="GET" action="{% url 'products:search' %}">
            <input class="form-control mr-sm-2 text-right bg-white rounded-pill" type="search" name="q"
                placeholder="جستجو" value="{{ request.GET.q }}" aria-label="Search">
            <!-- <button class="btn btn-outline-primary rounded-pill" type="submit"><i class="material-icons">
                    search
                </i></button> -->
        </form>

    </div>
</div>
<hr>

<div class="container">
    <div dir="rtl" class="row justify-content-end">

        {% for product in products %}
        {% if product.stock == 0 %}

        <div class="col-md-4 align-self-end">
            <div class="card shadow-sm p-4 mb-4 bg-light" style="width: 330px; height:  26rem;">
                <a href="">
                    <img src="{{ product.image.url }}" class="card-img-top border border-dark" style="height: 182px;"
                        alt="name"></a>
                <div class="card-body" style="height: 200px;">
                    <h5 class="card-title" style="height: 50px;">
                        <center>{{ product.title }}</center>
                    </h5>
                    <p class="card-text text-right font-weight-bold">به تعداد کافی موجود نیست</p>
                    <div class="col-md-14 mr-1">
                        <div class="card-footer rounded" style="width: 109%;">

                            <div class="row">
                                <div class="col-md-8">
                                    <small class="text-muted">
                                        دسته: {{ product.category.name }}
                                    </small>
                                </div>
                                <div class="col-md-2 ">
                                    <a href="{{ product.get_absolute_url }}" class="btn btn-secondary">جزئیات</a>
                                </div>
                                <div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% else %}



        <div class="card shadow-sm mr-4 mb-4" style="width: 330px;">
            <img src="{{ product.image.url }}" class="card-img-top" alt="..." style="height: 250px;">
            <div class=" card-body pb-0">



                <h5 class="card-title text-center">{{ product.title}}</h5>
                <p class="card-text">
                    <div class="row">


                        {% if product.event == True %}

                        <div class="col-md-11">
                            <p class="text-center alter-warning mt-1 card-text">در حال برگزاری</p>
                            <label class="card-text text-center btn btn-success rounded-pill" style="width: 110%">
                                ( ساعت ({{ product.event_end|time:"G:i"}})
                                درتاریخ ({{ product.event_end|date:"d-m-Y" }}


                                <!-- <div id="del-countdown" style="
                                width: 280px;padding-right: 0">
                                    <div id="clock-start" style="
                                            width: 280px;
                                        "></div>

                                    <div id="units2">
                                        <span>روز</span>
                                        <span>ساعت</span>
                                        <span>دقیقه</span>
                                        <span>ثانیه</span>
                                    </div>
                                </div> -->
                                <script>
                                    function updateTimer(deadline) {
                                        var time = deadline - new Date();
                                        return {
                                            'days': Math.floor(time / (1000 * 60 * 60 * 24)),
                                            'hours': Math.floor((time / (1000 * 60 * 60)) % 24),
                                            'minutes': Math.floor((time / 1000 / 60) % 60),
                                            'seconds': Math.floor((time / 1000) % 60),
                                            'total': time
                                        };
                                    }


                                    function animateClock(span) {
                                        span.className = "turn";
                                        setTimeout(function () {
                                            span.className = "";
                                        }, 700);
                                    }

                                    function startTimer(id, deadline) {
                                        var clock = document.getElementById(id);
                                        var timerInterval = setInterval(function () {
                                            var timer = updateTimer(deadline);

                                            clock.innerHTML = '<span>' + timer.days + '</span>'
                                                + '<span>' + timer.hours + '</span>'
                                                + '<span>' + timer.minutes + '</span>'
                                                + '<span>' + timer.seconds + '</span>';

                                            //animations
                                            var spans = clock.getElementsByTagName("span");
                                            animateClock(spans[3]);
                                            if (timer.seconds == 59) animateClock(spans[2]);
                                            if (timer.minutes == 59 && timer.seconds == 59) animateClock(spans[1]);
                                            if (timer.hours == 23 && timer.minutes == 59 && timer.seconds == 59) animateClock(spans[0]);

                                            //check for end of timer
                                            if (timer.total < 1) {
                                                clearInterval(timerInterval);
                                                clock.innerHTML = '<span>0</span><span>0</span><span>0</span><span>0</span>';
                                            }


                                        }, 1000);
                                    }


                                    window.onload = function () {
                                        var deadline = new Date("{{ product.event_end|date:'m d, Y G:i:s' }}");
                                        startTimer("clock-start", deadline);
                                    };

                                </script>
                            </label>
                        </div>
                        {% endif %}
                        {% if product.ended == True %}

                        <div class="col-md-11">
                            <p class="text-center alter-warning mt-1 card-text">اتمام حراجی</p>
                            <label class="card-text text-center btn btn-danger rounded-pill" style="width: 110%">
                                ( ساعت ({{ product.event_end|time:"G:i"}})
                                درتاریخ ({{ product.event_end|date:"d-m-Y" }}

                            </label>
                        </div>
                        {% endif %}
                        {% if product.ended == False and product.event == False %}
                        <div class="col-md-11">
                            <p class="text-center alter-warning mt-1 card-text">زمان بزگزاری</p>
                            <label class="card-text text-center btn btn-info rounded-pill" style="width: 110%">
                                ( ساعت ({{ product.event_start|time:"G:i"}})
                                درتاریخ ({{ product.event_start|date:"d-m-Y" }}
                                <!-- <div id="del-count" style="
                                width: 280px;padding-right: 0">
                                    <div id="clock-now" style="
                                            width: 280px;
                                        "></div>

                                    <div id="units2">
                                        <span>روز</span>
                                        <span>ساعت</span>
                                        <span>دقیقه</span>
                                        <span>ثانیه</span>
                                    </div>
                                </div> -->
                                <script>
                                    function updateTimer1(deadline1) {
                                        var time2 = deadline1 - new Date();
                                        return {
                                            'days': Math.floor(time2 / (1000 * 60 * 60 * 24)),
                                            'hours': Math.floor((time2 / (1000 * 60 * 60)) % 24),
                                            'minutes': Math.floor((time2 / 1000 / 60) % 60),
                                            'seconds': Math.floor((time2 / 1000) % 60),
                                            'total': time2
                                        };
                                    }


                                    function animateClock1(span) {
                                        span.className = "turn";
                                        setTimeout(function () {
                                            span.className = "";
                                        }, 700);
                                    }

                                    function startTimer1(id, deadline1) {
                                        var clock1 = document.getElementById(id);
                                        var timerInterval1 = setInterval(function () {
                                            var timer2 = updateTimer1(deadline1);

                                            clock1.innerHTML = '<span>' + timer2.days + '</span>'
                                                + '<span>' + timer2.hours + '</span>'
                                                + '<span>' + timer2.minutes + '</span>'
                                                + '<span>' + timer2.seconds + '</span>';

                                            //animations
                                            var spans = clock1.getElementsByTagName("span");
                                            animateClock1(spans[3]);
                                            if (timer2.seconds == 59) animateClock1(spans[2]);
                                            if (timer2.minutes == 59 && timer2.seconds == 59) animateClock1(spans[1]);
                                            if (timer2.hours == 23 && timer2.minutes == 59 && timer2.seconds == 59) animateClock1(spans[0]);

                                            //check for end of timer
                                            if (timer2.total < 1) {
                                                clearInterval(timerInterval1);
                                                clock1.innerHTML = '<span>0</span><span>0</span><span>0</span><span>0</span>';
                                            }


                                        }, 1000);
                                    }


                                    window.onload = function () {
                                        var deadline1 = new Date("{{ product.event_start|date:'m d, Y G:i:s' }}");
                                        startTimer1("clock-now", deadline1);
                                    };

                                </script>
                            </label>
                        </div>
                        {% endif %}

                    </div>
                </p>
            </div>
            <div class="card-footer">
                <div class="row justify-content-between">

                    <small class="text-muted ml-5 mt-2">{{product.category.name}}</small>
                    <a href="{{ product.get_absolute_url }}"
                        class="btn btn-outline-primary mr-5 rounded-pill">جزئیات</a>
                </div>
            </div>
        </div>
        <!-- 
        <script>

            $('[data-countdown]').each(function () {
                var $this = $(this), finalDate = $(this).data('countdown');
                $this.countdown(finalDate, function (event) {
                    $this.html(event.strftime('%D days %H:%M:%S'));
                });
            });

        </script> -->




        {% endif %}

        {% endfor %}
    </div>


    <div class="col-md-6 offset-md-4">
        <br>
        {% if products.has_previous %}
        <a class="btn btn-outline-warning rounded-pill mb-4" href="?page=1"><i
                class="fas fa-angle-double-left"></i>اولین</a>
        <a class="btn btn-outline-warning rounded-pill mb-4" href="?page={{ products.previous_page_number }}"><i
                class="fas fa-chevron-circle-left"></i>قبلی</a>
        {% endif %}

        {% for num in products.paginator.page_range %}
        {% if products.number == num %}
        <a class="btn btn-dark rounded-circle mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
        <a class="btn btn-outline-secondary rounded-circle mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
        {% endfor %}

        {% if products.has_next %}
        <a class="btn btn-outline-warning rounded-pill mb-4" href="?page={{ products.next_page_number }}"><i
                class="fas fa-chevron-circle-right"></i>بعدی</a>
        <a class="btn btn-outline-warning rounded-pill mb-4" href="?page={{ products.paginator.num_pages }}"><i
                class="fas fa-angle-double-right"></i>اخرین</a>
        {% endif %}
    </div>
</div>

<!-- 18 weeks 1 days 05h 02m 16s
<div id="getting-started"></div>
<script type="text/javascript">
    $("#getting-started")
        .countdown("2017/01/01", function (event) {
            $(this).text(
                event.strftime('%D days %H:%M:%S')
            );
        });
</script> -->



{% endblock %}